/*Página do Currículo */
body{
    font: normal 16px 'Roboto', sans-serif;
}

body a:hover{
        color: rgb(66, 66, 228);
        transition: 1s;
}

body a:link, a:visited {
    text-decoration: none
}


.section-cv{
    padding: 20px;
    background-color: gainsboro;
    color: rgb(15, 15, 15);
}

.section-cv p{
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
    line-height: 1.3;
}

.foto img{
    width: 200px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cabecalho{
    display: block;
}

.informacoes p{
    letter-spacing: 1px;
    line-height: 1.3;
}

.informacoes a{
    color: rgb(15, 15, 15);
}

.informacoes a:hover{
    text-decoration: underline; 
    transition: 1s;
}

.informacoes a:active {
    text-decoration: none;
}

.cabecalho h3{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.section-cv h4{
    background: rgb(192, 191, 191);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 25px;
}

.lista ul{
    font-size: 1.1rem;
    color: rgb(15, 15, 15);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 1.3;
}

/*@media (max-width: 600px){
    .lista ul{
        display: grid;
        grid-template-columns: 145px 145px;
    }
}*/

.btn-imprimir{
    text-align: center;
    margin-top: 55px;
}

.btn-imprimir button{
    background: rgb(192, 191, 191);
    color: rgb(15, 15, 15);
    font-size: 1.2rem;
    padding: 10px 25px ;
    border: none;
    border-radius: 7px;
}

.btn-imprimir button:hover{
    background-color: rgb(15, 15, 15);
    color: rgb(192, 191, 191);
    border-radius: 7px 0 7px 0;
    transition: 1.0s;
    cursor: pointer; 

}

/*RODAPÉ*/
.rodape{
    color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgb(192, 191, 191);
}

.rodape p, a{
    color: rgb(15, 15, 15);
}

.social a{
    color: rgb(15, 15, 15);
    font-size: 2.5rem;
    margin-right: 20px;    
}

.social a:last-child{
    margin-right: 0;
}

.navegacao{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contatos P{
    font-size: 1.2rem;
    line-height: 2;
}

.copyright p{
    font-size: 1rem;
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgb(192, 191, 191);
}

/*MEDIA DESKTOP SECTION*/
@media (min-width: 900px){
    .section-cv{
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 80px 20px 80px;
    }
    .section-cv p{
        text-align: justify;
    }
    .cabecalho{
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 50px;

    }
    .cabecalho h3{
        text-align: left;
    }
    .cabecalho img{
        margin-left: 20px;
    }
}

/*MEDIA LISTA*/
@media (min-width: 360px){
    .lista ul{
        display: grid;
        grid-template-columns: 145px 145px;
    }
}

@media (min-width: 480px){
    .lista ul{
        display: grid;
        grid-template-columns: 155px 155px 155px;
    }
}

/*MEDIA DESKTOP RODAPE*/
@media (min-width: 910px){
    .rodape{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .navegacao{
        margin-top: 0;
    }

    .contatos{
        padding-right: 20px;
    }
    .social{
        padding-left: 20px;
    }
}
