/* CSS para impressão */
/* Diagramar o Site no papel */
@media print {
    .section-cv{
        margin-top: 2px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0px;
        text-align: justify;
    }

    .lista ul{
       font-size: 24px;
    }

    .cabecalho{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 250px 930px;
    }

    .foto img{
        width: 230px;
        background-repeat: no-repeat;
        margin-top: 15px;
        margin-left: 30px;
        display: block;
    }

    .section-cv h3{
        font-size: 36px;
        text-align: left;
    }

    .section-cv h4{
        font-size: 28px;
    }

    .section-cv p{
        font-size: 23px;
    }

    .btn-imprimir{
        display: none;
    }

    .rodape{
        display: none;
    }
    .copyright{
        display: none;
    }

    @media (max-width: 900px){
        .lista ul{
            display: grid;
            grid-template-columns: 280px 280px 280px;
        }
    }
}



