body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	font: normal 16px consolas;
}

h1{
	font: normal 2rem consolas;
	padding-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

h3{
	padding-top: 10px;
	margin-left: 15px;
	margin-right: 15px;

}

.flex{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: consolas;
}

.container{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container .box{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}

.container .box .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}

.container .box:hover .imgBx{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}

.container .box .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .box .content{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.container .box .content h2{
	margin: 0;
	padding: 0;
}

.container .box .content a{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}

.container .box .content h2,
.container .box .content p,
.container .box .content a{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}

.container .box .content p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1rem;
}

.container .box:hover .content h2{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}

.container .box:hover .content p{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}

.container .box:hover .content a{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}

/*RODAPÉ*/
.rodape{
    color: rgb(15, 15, 15);
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgb(192, 191, 191);
}

.rodape p, a{
    color: rgb(15, 15, 15);
}

.social a{
    color: rgb(15, 15, 15);
    font-size: 2.5rem;
    margin-right: 20px;    
}

.social a:last-child{
    margin-right: 0;
}

a:hover{
	color: rgb(66, 66, 228);
	transition: 1s;
}

a:link, a:visited {
text-decoration: none
}

.navegacao{
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contatos P{
    font-size: 1.3rem;
    line-height: 2;
}

.copyright p{
    font-size: 1.1rem;
    padding-top: 20px;
    color: rgb(15, 15, 15);
}

.copyright p{
    font-size: 1rem;
    color: rgb(15, 15, 15);
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgb(192, 191, 191);
}

/*MEDIA DESKTOP RODAPE*/
@media (min-width: 910px){
    .rodape{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .social{
        padding-left: 20px;
	}
	.navegacao{
		margin: 0;
	}
    .contatos{
        padding-right: 20px;
    }
}
